
/*
    ENTRIES
*/
.form-header {
    padding-bottom: 10px;
}
table .h2 {
    width:90%;
    font-weight:normal;
    line-height:30px;
    font-size:20px;
    clear:left;
    color:#000;
    padding:0 10px 7px 0
}
table .var {
    display:block;
    float:right;
    font-style:normal;
    line-height:30px;
    font-size:20px;
    padding:0 0 0 10px;
    color:#999;
}
table .var-wrap {
    padding:0 0 7px 0;
}
b {
    color:#333;
    font-size:12px;
}
.red {
    color:red;
}
.green {
    color:green;
}
.form-result-head, .form-header {
    width:100%;
    font-family:'Lucida Grande','Lucida Sans Unicode', Tahoma, sans-serif;
}
.form-result {
    width:100%;
    border-bottom:1px solid #eee;
    font-size:12px;
    line-height:135%;
    font-family:'Lucida Grande','Lucida Sans Unicode', Tahoma, sans-serif;
}
.form-row.odd {
    background-color:#F2F2F2;
}
.form-row.even {
    background-color:#F2F2F2;
}
.form-row-head {
    vertical-align:top;
    color:#222;
    text-align:left;
    padding:7px 9px 7px 9px;
    border-top:1px solid #eee;
}
.form-row-content {
    vertical-align:top;
    color:#333;
    width:50%;
    padding:7px 9px 7px 0;
    border-top:1px solid #eee;
}
.form-row-list {
    list-style:inside;
    margin:0;
    padding:0;
}
.form-row-list li {
    margin:0;
    padding:0 0 4px 0;
}
.width-45 {
    width: 45%;
}
.width-10 {
    width: 45%;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.form-footer {
    width:100%;
    border-top:25px solid #fff; 
    border-bottom:25px solid #fff; 
    font-family:'Lucida Grande','Lucida Sans Unicode', Tahoma, sans-serif;
}
.createTD {
    width:33%; 
    padding-right:12px
}
.created {
    border:1px solid #eee;
    background:#f5f5f5; 
    text-align:center;
}
.created .created-head {
    display:block;
    font-size:9px;
    padding:10px 0 0 0;
}
.dc {
    font-size:13px;font-style:normal;font-weight:bold;padding:0 0 2px 0;color:#222;
}
.created-i {
    display:block;font-style:normal;font-size:9px;padding:0 0 10px 0;color:#222;
}
.cb {
    background:#dedede;
    border-top:1px solid #eee;
    display:block;
    height:17px;
    line-height:17px;
    font-size:9px;
    font-weight:bold;
    font-style:normal;
    text-transform: uppercase;
}
.ip {
    border:1px solid #eee;
    background:#f5f5f5;
    padding:10px 0 0 0; 
    text-align:center;
}
.ip-inner {
    font-size:13px;font-style:normal;font-weight:bold;padding:0 0 2px 0;color:#222;
}
.ip-i {
    display:block;font-style:normal;font-size:9px;padding:0 0 10px 0;color:#222;
}